/* @font-face {
  font-family: emoji;
  src: url(//xem.github.io/emoji/noto.ttf), url(//xem.github.io/emoji/twemoji.ttf);
} */
* {
  box-sizing: border-box;
}

html, body {
  position: fixed;
  overflow: hidden;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  max-height: 100vh;
  max-width: 100vw;
}

body {
  position: relative;
  background: #111;
  user-select: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: background 1s ease;
  filter: url(#blur);
}

button {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
}

svg#defs {
  display: none;
}

/* start minimap */
#bar {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
}

#bar-holder:hover #bar, #bar-holder.active #bar, #bar-holder.show #bar {
  transform: translateX(0);
}

#bar p {
  color: white;
  font-size: 18px;
  line-height: 0px;
  font-family: arial;
}

.branch {
  width: 100%;
  background: #555;
  color: white;
  height: 6px;
}

.leaves {
  display: flex;
  flex-grow: 1;
}

.leaf {
  flex-grow: 1;
  position: relative;
  font-size: 0;
  opacity: 0;
  background: none;
  height: 0;
}

.leaf:before {
  content: '';
  top: 60%;
  position: relative;
  width: 50%;
  height: 10px;
  max-height: 20%;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: all 0.25s ease;
  left: 1px;
}

.leaf.ended:before {
  background: #f00;
  top: 40%;
}

.leaf:after {
  content: '';
  height: 40%;
  position: absolute;
  border: 1px solid #777;
  top: 0;
  border-style: dotted;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.leaf.finished:before {
  content: '🔍';
  transition: all 0.25s ease;
  font-size: 0;
  background: none;
}

.leaf.finished:after {
  content: '';
  height: 100%;
  position: absolute;
  border: 3px solid #369a36;
  top: 0;
  box-sizing: border-box;
  margin-left: -2px;
}

.leaf.testing:after {
  height: 60%;
}

.leaf.testing:before {
  content: '';
  top: 60%;
  width: auto;
}

.leaf.testing, .leaf.finished, .leaf.ended {
  font-size: 3em;
  opacity: 1;
  height: auto;
}

.leaf.testing:before {
  content: '👀';
  background: none;
  font-size: 1em;
  filter: none;
}

#bar-holder {
  width: 10vw;
  height: 90vh;
  position: absolute;
  left: 0;
  font-size: 10px;
}

#bar.complete .leaf.finished:after, #bar.complete .branch {
  border-color: magenta;
  background: magenta;
  color: magenta;
  transition: all 1s ease;
  font-size: 0.5em;
}

/* end minimap */
#searching {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  border: 12px solid rgba(1, 255, 112, 0.24);
  position: absolute;
  font-size: 50vh;
  margin-top: 0.5em;
  transform-origin: 50% 50%;
  transform: scale(0);
  opacity: 0;
  border-style: dashed;
  pointer-events: none;
}

#searching.expand {
  opacity: 1;
  transform: scale(50) rotate(-800deg);
  transition: transform 6s linear 200ms;
}

.toggle-sound {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.mobile .toggle-sound {
  display: none;
}

#container {
  position: absolute;
  transform-origin: left top;
  transition: all 1100ms ease-in-out 400ms;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  perspective: 5000px;
}

#container.winning .slide.finished,
#container.winning .slide.failed, #container.winning .slide.dummy {
  display: none;
}

#container.playing .slide.finished,
#container.playing .slide.failed, #container.playing .slide.dummy {
  opacity: 0;
  pointer-events: none;
}

#container.loading {
  pointer-events: none;
}

#viewport {
  position: absolute;
  transform-origin: left top;
  transition: all 600ms ease-in-out 100ms;
  transform-style: preserve-3d;
}

#viewport.loading {
  display: none;
}

.slide {
  transform-style: preserve-3d;
  position: absolute;
  width: 605px;
  height: 500px;
  font-family: emoji, helvetica, arial, sans-serif;
  transition: all 1000ms ease-in-out 0ms;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.slide-canvas, .slide .explode-copy {
  position: absolute;
  width: 605px;
  height: 500px;
  top: 0;
  left: 0;
  transition: transform ease-in-out, opacity ease-in, filter ease-out;
  pointer-events: none;
}

.slide.failed {
  background: #a11;
  border: 5px solid red;
  transition: opacity 0.25s ease, background 400ms ease,
    border 120ms ease;
}

.slide.finished {
  background: #148;
  color: #052040;
  border: 5px solid #00356b;
  transition: opacity 0.25s ease, background 400ms ease,
    border 120ms ease;
  text-shadow: 2px 2px 0 #00356b;
}

.slide.hidden {
  background-color: transparent;
  border-color: transparent;
}

.slide.playing {
  border: 5px solid #fbfbd7;
  background: #ccc;
}

.slide.loading {
  border: 50px solid yellow;
  opacity: 1;
  transition: background 1s ease, border 100ms ease;
}

.slide.winning {
  background: #01ff70;
  box-shadow: 0 0 0 2000px #01ff70;
  transition: opacity 0.15s ease-in-out 2.5s, box-shadow 1s ease;
}

.slide.winning:before {
  content: "✌️";
  position: absolute;
  font-size: 130px;
  top: 200px;
  left: 130px;
  animation: ease 0.5s infinite alternate bounce;
}

.slide.winning:after {
  content: "✌️";
  position: absolute;
  font-size: 130px;
  top: 200px;
  right: 130px;
  transform: scaleX(-1);
  animation: ease 0.5s infinite alternate bounce;
}

.slide.dummy {
  background: #222;
}

@keyframes bounce {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: -50px;
  }

  100% {
    margin-top: 0px;
  }
}

h1 {
  font-size: 170px;
}

h2 {
  margin: 10px 0 20px 0;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ca42ca;
  text-shadow: 2px 2px 2px #5000ff;
  transform: scale(1.2) rotate(6deg);
  background: #222222;
  box-shadow: 2px 2px 0 2px #bdbd0e, 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 36px;
}

#start-button {
  font-size: 40px;
  width: 100%;
  margin-top: 30px;
}

.slide.playing.instructions {
  border: 5px solid #19eded;
  filter: url(#turb);
}
